@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@keyframes gradient-border {
  0% {
    border-image-source: linear-gradient(45deg, #1b91ff, #7873f5);
  }
  50% {
    border-image-source: linear-gradient(135deg, #996eff, #0cbaff);
  }
  100% {
    border-image-source: linear-gradient(45deg, #1379ff, #7873f5);
  }
}


.animate-gradient-border {
  position: relative;
  border-width: 4px;
  border-image-slice: 1;
  border-radius: 16px;
  animation: gradient-border 3s infinite;
  overflow: hidden;
}

.animate-gradient-border::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 16px;
  border: inherit;
  border-image-slice: 1;
  animation: inherit;
}

